//sidebar
$menuBg: #304156;
$subMenuBg: #082CAF;
$menuHover: #357AFF;

$color-primary: #437DFB; //#18c79c
$color-danger: #ff4949;
$color-grey-lighten-2: #e0e0e0;
$color-black-lighten-2: #000000;
$page-dark: #F8FAFC;

$main-font-size: 12px;
